:root {
  --beige: #e5e9d8;
  --white: #ebebeb;
  --blue: #65a1b8;
  --green: #5b9a63;
  --shadowgreen: #48754e;
  --fontdark: #0e0806;
  --fontlight: #ebebeb;
  --orange: #f57543;
}

body {
  background-color: var(--blue);
  color: var(--fontdark);
  margin: 0;
  font-family: sans-serif;
}
.container {
  margin: 0 8rem;
  display: flex;
  flex-direction: column;
}
main {
  padding: 1rem 5rem;
  background-color: var(--beige);
  min-height: 70vh;
}
header {
  background-color: var(--green);
  display: inline-block;
  margin: 0;
  padding: 0;
}
footer {
  font-size: 0.675rem;
}
.menu {
  font-size: x-large;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop {
  font-size: medium;
}
.menu a {
  width: fit-content;
  padding: 0.5rem 1em;
  margin: 0 auto;
}
footer {
  background-color: var(--green);
  padding: 0.375rem;
  text-align: center;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
}
.menu a {
  font-weight: bold;
  display: block;
  padding: 0.5rem;
}
.menu a:hover {
  background-color: var(--orange);
}
.nav-right {
  float: right;
}
a {
  text-decoration: none;
  color: var(--fontdark);
}
a:visited {
  text-decoration: none;
}
.search {
  height: 1.25em;
  width: max-content;
  display: flex;
  margin: auto;
}
.search input {
  outline: none;
  border: none;
}
.search button {
  height: 100%;
}
.block {
  display: flex;
  gap: 1rem;
}
.block .left {
  float: left;
}
.block-image {
  font-size: smaller;
  text-align: center;
}
.block-image img {
  height: auto;
  max-width: 100%;
}
main h3 {
  text-align: center;
}
.tile-container {
  display: flex;
}
