:root {
  --beige: #dfe2d5;
  --white: #ebebeb;
  --blue: #518194;
  --linkblue: #05b;
  --green: #458d50;
  --darkgray: #747474;
  --shadowgreen: #3d6b43;
  --fontdark: #0e0806;
  --fontlight: #ebebeb;
  --orange: #f57543;
  --border-s: 6px;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
body,h1,h2,h3,h4,h5,h6 {font-family: Roboto, sans-serif;}
body {
  background-color: #888;
  background-image: url("../img/moro.jpg");
  background-position: fixed;
  color: var(--fontdark);
  margin: 0;
  font-family: sans-serif;
}
.container {
  margin: 0 8rem;
  display: flex;
  flex-direction: column;
}
/* ---------- MODAL CSS ---------- */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* ---------- MODAL CSS ---------- */
main {
  padding: 1.5rem 5rem;
  background-color: var(--beige);
  min-height: 80vh;
  position: relative;
}
header {
  font-size: x-large;
  background-color: var(--green);
  color: var(--fontlight);
  display: inline-block;
  margin: 0;
  padding: 0;
}
header a {
  color: var(--fontlight);
}
footer {
  font-size: 0.675rem;
  background-color: var(--green);
  color: var(--white);
  padding: 0.375rem;
  text-align: center;
}
.block {
  display: flex;
  gap: 1rem;
}
.block a {
  color: var(--linkblue);
}
.block a:hover{
  text-decoration: underline;
}
.block-text {
  text-align: justify;
}
.block-image {
  font-size: smaller;
  text-align: center;
}
.block-image img {
  height: auto;
  border-radius: 10px;
  max-width:100%;
}
main h3 {
  text-align: center;
}
#classification-select {
  float: right;
  width: 20rem;
  font-size: normal;
  text-align: center;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
  background-color: var(--white);
}
.classification {
  margin: auto;
}