.hamburger-menu {
  background-color: var(--green);
  display: none;
  text-align: center;
  width: 100%;
}
.hamburger-menu button {
  font-size: x-large;
  background-color: var(--green);
  color: var(--fontlight);
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}
.hamburger-menu .login-button {
  font-size: large;
  background-color: var(--darkgray);
}
.hamburger-menu button:hover {
  background-color: var(--shadowgreen);
}
.hamburger-menu .login-button:hover {
  background-color: var(--green);
}
.m-dropdown-content {
  background-color: var(--darkgray);
  font-size: large;
  display: none;
  text-align: center;
}
.m-dropdown-content a {
  padding: 0.5rem;
  display: block;
}
.m-dropdown-content a:hover {
  background-color: var(--green);
}
.hamburger-menu button {
  width: 100%;
  overflow: hidden;
}
.m-invisible {
  display: none;
}
.m-show {
  display: block;
}
@media (max-width: 992px) {
  .container {
    margin: 0 4rem;
  }
  main {
    padding: 1rem 2rem;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0;
  }
  main {
    padding: 1rem;
    text-align: center;
  }
  .block {
    flex-direction: column;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
  }
  .block-image img {
    max-width: 70%;
  }
  #classification-select {
    width: 50%;
    margin: 1rem 0;
    float: none;
    font-size: medium;
  }
  .classification {
    text-align: justify;
  }
}
