#quiz-start {
  width: 4rem;
  height: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quiz-container {
  display: none;
  text-align: center;
}
.quiz-question {
  text-align: center;
}
.img-q {
  padding: 1rem;
}
.img-q > div {
  display: flex;
  justify-content: space-around;
}
.tile {
  cursor: auto;
  box-shadow: none;
}
.target {
  margin: auto;
  height: 2rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
}
.target > * {
  margin: auto;
  cursor: grab;
}
.question-names {
  display: flex;
  padding: 0.5rem;
}
.question-names > * {
  cursor: grab;
  margin: auto;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5rem;
  background-color: white;
}
#quiz-result {
  display: none;
  text-align: center;
}
#quiz-finish {
  padding: 0.5rem 1rem;
}