#quiz-start {
  width: 4rem;
  height: 3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.button {
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: var(--blue);
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 4px var();
}

#quiz-start:hover {
  background-color: var(--linkblue);
  transform: translate(-50%,-50%) scale(1.2,1.2);
}

.quiz-container {
  display: none;
  text-align: center;
}
.quiz-question {
  text-align: center;
}
.img-q {
  padding: 1rem;
}
.img-q > div {
  display: flex;
  justify-content: space-around;
}
.tile {
  cursor: auto;
  box-shadow: none;
}
.target {
  margin: auto;
  height: 2rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
}
.target > * {
  margin: auto;
  cursor: grab;
}
.question-names {
  display: flex;
  padding: 0.5rem;
}
.question-names > * {
  cursor: grab;
  margin: auto;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5rem;
  background-color: white;
}
.question-names > *:hover {
  transform: scale(1.1,1.1);
}
#quiz-result {
  display: none;
  text-align: center;
}
#quiz-finish {
  padding: 0.5rem 1rem;
  transition: 0.3s;
}
#quiz-finish:hover {
  background-color: var(--linkblue);
  transform: scale(1.2,1.2);
}